extends ../layout

block title
  = page.title
  
block content
  .pure-u-1
    .content.rsvp
      iframe(src='https://docs.google.com/forms/d/1zqyO_kdvI32nLHo1KMsT5QN1ojg0f2-vzoUyvXR0tSw/viewform?embedded=true',
      width='760',
      height='1200',
      frameborder='0',
      marginheight='0',
      marginwidth='0') Loading...
