.custom-menu-wrapper
  .pure-menu.custom-menu.custom-menu-top
    a.pure-menu-heading.custom-menu-brand(href='#') Kevin and Katy
    a#toggle.custom-menu-toggle(href='#')
      s.bar
      s.bar
  
  #tuckedMenu.pure-menu.pure-menu-horizontal.pure-menu-scrollable.custom-menu.custom-menu-bottom.custom-menu-tucked
    .custom-menu-screen
    ul.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(href=contents['index.md'].url)#index Home
      li.pure-menu-item
        a.pure-menu-link(href=contents['about.md'].url)#about About Us
      li.pure-menu-item
        a.pure-menu-link(href=contents['proposal.md'].url)#proposal The Proposal
      li.pure-menu-item
        a.pure-menu-link(href=contents['photos.md'].url)#photos Photos
      li.pure-menu-item
        a.pure-menu-link(href=contents['wedding.md'].url)#wedding The Wedding
      li.pure-menu-item
        a.pure-menu-link(href=contents['accommodations.md'].url)#accommodations Accommodations
      li.pure-menu-item
        a.pure-menu-link(href=contents['registry.md'].url)#registry Registry
